<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>org.richfaces.enableControlSkinning</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.enableControlSkinningClasses</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.skin</param-name>
        <param-value>plain</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.createTempFiles</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.maxRequestSize</param-name>
        <param-value>5000000</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <!-- Mail properties-->
    <env-entry>
        <description>Mail Server</description>
        <env-entry-name>mailhost</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>smtp.sendgrid.com</env-entry-value>
    </env-entry>
    <env-entry>
        <description>Server Port</description>
        <env-entry-name>port</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>25</env-entry-value>
    </env-entry>
    <env-entry>
        <description>Usuario para autenticacion con el SMTP</description>
        <env-entry-name>emailUser</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>gerardo@flecharoja.com</env-entry-value>
    </env-entry>
    <env-entry>
        <description>Clave para la autenticacion con el SMTP</description>
        <env-entry-name>emailPassword</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>crUwEye23</env-entry-value>
    </env-entry>
    <!--End Mail properties-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/ingresar.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/ingresar.xhtml</location>
    </error-page>
        <error-page>
        <error-code>403</error-code>
        <location>/403.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/400.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/500.html</location>
    </error-page>
</web-app>
