body.login {
	background: #292929 url(../images/login-bg.gif) repeat-x;
}
.callto {
	height: 320px;
	padding-top: 30px;
	margin-bottom: 20px;
	background: url(../images/login-icons.png) top right no-repeat;
	float: none;
	position: relative;
}
.login-form {
	background: #292929;
	padding: 15px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	position: absolute;
	top: 75px; 
	right: 153px;
	height: 110px;
}
.login-logo {
	margin: 38px 0 0 32px;
}
.login-form input {
	margin-bottom: 10px;
}
.row.bottom {
	margin-bottom: 20px;
	font-size: 13px;
	padding-top: 20px;
} 
.row.bottom h2 {
	margin-bottom: 10px;
}
.welcome {
	padding: 25px 0;
}
.welcome h3 {
	line-height: 1.2em;
}
.row.bottom .span-one-third {
	width: 299px;
}
.first-col,
.mid-col {
	border-right: solid 1px #444;
}

/* footer
================================================== */

footer {
	clear: both;
}
.login h2 {
	color: #fff;
}
.login .welcome h3 {
	color: #989898;
}
.login .center_content form span.bold {
	color: #989898;
}
.btn.grayDark {
	color: #ee8f20 !important;
	margin-top: 5px;
}
.btn.grayDark:hover {
	color: #efb818 !important;
}
.login .rf-msgs-err {
	display: block;
	position: absolute;
	top: 93px;
	left: 90px;
	font-size: 11pt;
}
.login input[type="text"],
.login input[type="password"] {
	background-color: #848283 !important;
	color: #fff;
} 