body.login {
	background: #fff url(../images/login-bg.gif) repeat-x;
}
.callto {
	height: 320px;
	padding-top: 30px;
	margin-bottom: 20px;
	background: url(../images/login-icons.jpg) top right no-repeat;
	float: none;
	position: relative;
}
.login-form {
	background: #fff;
	padding: 15px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	position: absolute;
	top: 75px; 
	right: 153px;
}
.login-logo {
	margin: 38px 0 0 32px;
}
.login-form input {
	margin-bottom: 10px;
}
.row.bottom {
	margin-bottom: 20px;
	font-size: 13px;
	padding-top: 20px;
} 
.row.bottom h2 {
	margin-bottom: 10px;
}
.welcome {
	padding: 20px 0;
}
.welcome h3 {
	line-height: 1.2em;
}
.row.bottom .span-one-third {
	width: 299px;
}
.first-col,
.mid-col {
	border-right: solid 1px #d6d6d6;
}

/* footer
================================================== */

footer {
	clear: both;
}