/* login */

.row.callto-details {
	margin-left: 0px;
}
.callto-details {
	width: 100%;
	clear: both;
}

.col-first {
	margin-left: 0px;
}

.col-last {}

footer {
	width: 100%;
	background: red;
}

.footer-inner {
	width: 100%;
	border-top: #fff solid 1px;
}

/*App layout */
.sidebar {
	position: absolute;
	left: 20px;
}

.main-content {
	padding-top: 55px;
}

/* topbar */
.top-user a.editar,
.top-user a.help {
	display: block;
}
.top-user a.editar {
	height: 40px;
}
.top-user a.help {
	line-height: 40px;
}
.top-user a.exit {
	line-height: 40px;
}

/* menu */
td.rich-panelbar-content a {
	width: 180px;
	margin-left: 5px;
}