/* colores */
/*
#1066de azul detalle
#e6e9ed celeste gris de nombre de usuario en ventana de pago
#cdd3dc celeste
#1066de azul
#153a78 azul oscuro / nombre usuario en dashboard
#529fec titulos celestes de dashboard

fade transitions
-webkit-transition: background 0.3s ease; 
-moz-transition: background 0.3s ease; 
-o-transition: background 0.3s ease; 
transition: background 0.3s ease;

*/

/* transiciones css */

a.btn-edit-pago,
a.btn-edit-favoritos,
a.btn-edit-recibos,
a.tipos-concepto,
.favorito-item
{
	-webkit-transition: background 0.3s ease; 
	-moz-transition: background 0.3s ease; 
	-o-transition: background 0.3s ease; 
	transition: background 0.3s ease;
}

/* login */
body.login {
	padding-top: 0px;
	background-image: none;
	border-top: 5px #d02727 solid;
	background: #606776 url(../images/login-bg.gif) repeat-x top left;
}
.callto {
	margin-top: 40px;
	margin-bottom: 90px;
}
.login-form {
	margin: 30px 0;
}
.login-form h3 {
	background: url(../images/sprite.png) no-repeat 0 -835px;
	text-indent: 40px;
}
.login-form-container {
	background: #fff;
}
.login-form-container .rich-panel-body {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.login-form-container .rich-panel-body table td {
	border-left: 0;
}
.login span.tarjetas {
	display: block;
	background: url('../images/sprite.png') no-repeat 0 -1442px;
	width: 208px;
	height: 38px;
}
b.red {color: #d02727}
.callto-details,
.callto-details h2 {
	color: #f0efea;
}
.login h1.logo {
	background: url('../images/sprite.png') no-repeat 0 -1355px;
	width: 195px;
	height: 66px;
	text-indent: -1000px;
	overflow: hidden;
}

/* registro */

body.registro {
	background: #606776 url(../images/registro-bg.gif) repeat-x top left;
	padding-top: 0;
}
body.registro .wrap {
	background: transparent url(../images/registro-form-bg.jpg) no-repeat top center;
}
.registro .container {
	width: 505px;
	padding-top: 40px;
}
.registro h1 {
	color: #dedfda;
	background: url('../images/sprite.png') no-repeat -262px -314px;
	text-indent: 50px;
}
/* asterisco */
.asterisk {color: red}

/* rows */
.row1 {
  border: 0;
  white-space: nowrap;
}

.row2 {
  background-color: #f7f7f7;
  border: 0;
  white-space: nowrap;
}

label.form-label,
.output-text {
	float: left; 
	margin-right: 10px;
	width: auto;
	line-height: 18px;
	padding-top: 6px;
}

/* tooltip rich faces */

span.rich-tool-tip {
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #344054;
	color: #fff;
	border: 0;
	width: auto !important;
}

span.rich-tool-tip span {
	float: none;
	width: auto !important;
	text-shadow: 0px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
}
/* contenedor de iconos de botones */

.btn span {
	display: block;
	float: left;
	margin-right: 2px;
	width: 15px;
	height: 15px;
}

.btn span.imprimir {
	background: url(../images/sprite.png) -1px -1081px;
}
.btn span.nueva {
	background: url(../images/sprite.png) -27px -1081px;
}
.btn span.modificar {
	background: url(../images/sprite.png) -52px -1083px;
}	
.btn span.bloquear {
	background: url(../images/sprite.png) -160px -1082px;
}
.btn span.eliminar {
	background: url(../images/sprite.png) -132px -1082px;
}
.btn span.agencias {
	background: url(../images/sprite.png) -80px -1120px;
}
.btn span.usuarios {
	background: url(../images/sprite.png) -58px -1120px;
}
.btn span.conceptos {
	background: url(../images/sprite.png) -100px -1118px;
}


/* dos estados */
/* activo */
.btn span.activar {
	background: url(../images/sprite.png) -239px -1081px;
}
.btn span.habilitar {
	background: url(../images/sprite.png) -107px -1082px;
}
.btn span.favorita {
	background: url(../images/sprite.png) 0 -1118px;
}

/* desactivado */
.btn span.dis-activar {
	background: url(../images/sprite.png) -211px -1082px;
}
.btn span.dis-habilitar {
	background: url(../images/sprite.png) -80px -1082px;
}
.btn span.dis-favorita {
	background: url(../images/sprite.png) -30px -1118px;
}

/* fin colores */

/* sidebar */
.sidebar {}
#sticky-sidebar {
	position: fixed
}
.sidebar .rich-panelbar {
	border: 0;
	padding: 0;
	background-color: transparent;
}

.sidebar .rich-panelbar table {
	width: 100%;
	margin-bottom: 0;
	padding: 0;
	border-collapse: separate;
	border: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
/* item menu desactivado */
.sidebar .rich-panelbar-header {
	background-color: transparent;
	background-image: none;
	color: #4c5668;
	font-size: 12px;
	padding: 3px 0;
	border-bottom: solid 1px #d3d4d5;
	text-indent: 15px;
	cursor: pointer;
}
.sidebar .rich-panelbar-header-act:hover,
.sidebar .rich-panelbar-header:hover {
	background-color: #eceef0;
	color: #1066de;
}

/* item menu activado */
.sidebar .rich-panelbar-header-act {
	background: transparent url(../images/sprite.png);
	background-position: 0 -749px;
	color: #d02727;
	font-size: 14px;
	padding: 5px 0;
	text-indent: 15px;
	cursor: pointer;
}

.sidebar .rich-panelbar-content {
	background: #d8d3d3;
	padding: 2px 0;
}

/* elementos del menu */
td.rich-panelbar-content a {
	display: block; 
	margin-bottom: 2px;
	float: left;
	clear: both;
	padding: 3px 10px;
	font-size: 11px;
	color: #344054;
}
td.rich-panelbar-content a:hover {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #444a53;
	color: #fff;
	text-decoration: none;
}
.sidebar .menu {
	border: solid 2px #c87070;
	background: #fff;
	padding: 0 0 5px 0;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	-o-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}
.sidebar .menu a {
	clear: both;
	display: block;
}
.topbar .container-fluid {background-image:none; padding-top: 0}
.container-fluid {
	background: url(../images/base-fondo.jpg) top left no-repeat;
	padding-top: 15px
}

/* menu separator */

span.menu-separator {
	background: url('../images/sprite.png') no-repeat 0 -1601px; 
	width: 197px; 
	height: 26px;
	display: block;
	margin: 3px auto;
} 

.menu.faq .rich-panelbar-header-act {
	background: url('../images/sprite.png') no-repeat 5px -1658px;
	text-indent: 35px;
}

/* no margin left */
.alpha {margin-left: 0px;}

/* column */
.col {margin-bottom: 20px}

/* Padding containers */
.p10 {padding: 10px;}
.p15 {padding: 15px;}

/* Top bar specific */
.top-user {}
.top-user a.help {
	background: url('../images/sprite.png') no-repeat -239px -354px;
	width: 70px;
	float: left;
	text-indent: 22px;
	overflow: hidden;
	margin-right: 10px;
	font-size: 11px;
	color: #172a46;
	}
.top-user a.exit {
	background: url(../images/sprite.png) no-repeat -218px -216px;
	float: left;
	width: 80px;
	text-indent: 15px;
	color: #fff;
	-moz-text-shadow: 0px 1px 1px #000000;
	-webkit-text-shadow: 0px 1px 1px #000000;
	text-shadow: 0px 1px 1px #000000;
	filter: dropshadow(color=#000000, offx=0, offy=1);
}
.top-user .username,
.top-user a.editar {
	margin-right: 10px;
}
.top-user .username,
.top-user a.editar,
.top-user a.exit {
	display: block;
	float: left;
}
.top-user a.exit:hover {
	background: #6e8ecb url(../images/sprite.png) no-repeat -218px -216px;
}

.top-user a.editar {
	background: url('../images/sprite.png') no-repeat -245px -265px;
	width: 53px;
	float: left;
	text-indent: -1000px;
	overflow: hidden;
}

/* titulos de secciones */
h1.dashboard,
h1.pagos,
h1.user-title {
	text-indent: 35px;
	padding: 2px 0
}
h1.dashboard {
	background: url(../images/sprite.png) -3px -955px no-repeat;
}
h1.pagos {
	background: url(../images/sprite.png) -2px -893px no-repeat;
}
h1.user-title {
	background: url(../images/sprite.png) 0 -833px no-repeat;
}

/* subtitulos columnas */
.pago-sub-title,
.sub-title {
	color: #737373;
	font-size: 18px;
}

.pago-sub-title {
	background: url('../images/sprite.png') no-repeat -264px -452px;
	text-indent: 35px;
	height: 30px;
	line-height: 30px;
}

.favoritos.sub-title {
	background: url('../images/sprite.png') no-repeat 0 -1159px;
	text-indent: 35px;
	height: 45px;
	line-height: 45px;
}

.todos.sub-title {
	background: url('../images/sprite.png') no-repeat 0 -1227px;
	text-indent: 35px;
	height: 45px;
	line-height: 45px;
}

/* favoritos */
table.rich-table.favoritos,
table.rich-table.favoritos td {
	border: 0;
}
table.rich-table.favoritos td {
	padding: 5px;
	width: 25%;
	*vertical-align: middle;
}
.favorito-item {
	background: #cdd3dc;
	padding: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	-webkit-box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.55);
	-moz-box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.55);
	box-shadow: 0px 1px 2px rgba(000, 000, 000, 0.55);
}
.favorito-item:hover {
	background: #d6dce5;
}
.favorito-item .imagen {
	padding: 3px;
	background: #fff;
	display: block;
	float: left;
	height: 31px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right: 10px;
	-webkit-box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.3);	
}
.favorito-item .descripcion {
	display: table-cell;
	vertical-align: middle;
	height: 37px;
}
.favorito-item .descripcion a {
	color: #69768a;
	font-size: 12px;
	line-height: 1.2em;
	font-weight: bold;
}
.sub-title {}

#panelOpciones .sub-title {
	border-bottom: solid 1px #c4c0b8;
}

.user-data .recent h2 {
	background: url('../images/sprite.png') no-repeat 0 -225px;
	padding-left: 25px;
}
.dashboard .notifications h2 {
	background: url('../images/sprite.png') no-repeat 0 -1017px;
	padding-left: 30px;	
	margin-bottom: 10px;
}
.recaudado h2 {
	background: url('../images/sprite.png') no-repeat 0 -1235px;
	padding-left: 35px; 
	margin: 10px;
	height: 30px;
	line-height: 30px;
}
.monto-concepto h2 {
	background: url('../images/sprite.png') no-repeat 0 -1298px;
	padding-left: 35px; 
	height: 30px;
	line-height: 30px;
	margin: 0 10px 0 10px
}
/* dashboard */
.dashboard {} /* contenedor */

	/* dashboard richtable override */
	.dashboard .rich-table {
		border: 0;
		background: transparent;
	}
	.dashboard .rich-table-thead {
		border-bottom: none;
	}
	.dashboard .rich-table-subheader {
		background-color: transparent;
	}
	.dashboard .rich-table-subheadercell,
	.dashboard .rich-table-headercell {
		padding: 0;
		border-right: 0;
	}
	.dashboard .rich-table-footer {
		background: transparent;
		border-bottom: 0;
	}
	.dashboard .rich-table-footercell,
	.dashboard .rich-table-headercell {
		border-bottom: 0;
	}
	.dashboard .rich-table-footercell,
	.dashboard .rich-table-cell  {
		border-right: none;
	}
	.dashboard .rich-table-footer a {
		display: block;
		background: url('../images/sprite.png') no-repeat 0 -274px;
		padding-left: 20px;
	}
	.dashboard .rich-table-header {
		background-image: none;
		background-color: transparent;
	}

	.notifications .rich-panel,
	.notifications .rich-panel-header {
		background-image: none;
		background-color: transparent;
		padding: 0px;
		border-width: 0px;
	}
	.dashboard .rich-panel-header {
		color: #444;
		font-size: 12px;
	}
	/* FIN dashboard richtable override */

.user-info,
.user-data,
.monto-concepto,
.recaudado {
	background: white;
	padding-top: 10px;
	border: 1px solid #DDD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.055);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.055);
	box-shadow: 0 1px 1px rgba(0,0,0,.55);
}
.user-detail {
	padding: 0 15px 10px 10px;
}
span.user-pic {display: block; background: url(../images/sprite.png) 0 0 no-repeat; float: left; margin-right: 10px; width: 51px; height: 51px;}
span.user-pic-custom {display: block; float: left; margin-right: 10px; width: 51px; height: 51px;}
.user-detail b {font-size: 25px; font-weight: normal; color: #242b38; margin-bottom: 10px; display: block;}
.user-detail .user-info-edit {}

/* botones */
a.btn-pago,
a.btn-edit-pago,
a.btn-edit-favoritos,
a.btn-edit-recibos {
	display: block;
}
a.btn-pago {
	background: url(../images/sprite.png) no-repeat -1px -75px;
	width: 279px;
	height: 80px;
	text-indent: -1000px;
	overflow: hidden;
}
a.btn-edit-pago,
a.btn-edit-favoritos,
a.btn-edit-recibos {
	font-size: 13px;
	color: #444;
	padding: 0 0 0 40px;
	clear: both;
	height: 50px;
	line-height: 50px;
	border-bottom: solid 1px #d1d0cd;
}
a.btn-edit-pago:hover,
a.btn-edit-favoritos:hover,
a.btn-edit-recibos:hover {
	background-color: #e7eaef;
	text-decoration: none;
}
a.btn-edit-pago {
	background: url('../images/sprite.png') no-repeat 0 -385px;
}
a.btn-edit-favoritos {
	background: url('../images/sprite.png') no-repeat 0 -440px;
}
a.btn-edit-recibos {
	background: url('../images/sprite.png') no-repeat 0 -500px;
}
/* fin botones */
.user-data .edit {
	width: 45%; 
	float: left;
	margin-left: 4%;
	}
.user-data .recent {
	width: 45%; 
	float: left;
	margin-left: 4%;
	}
.notifications {

}
.recaudado {
	background: #fff;
	padding-bottom: 10px;
}
.recaudado table.montos {
	margin: 10px;
	width: 93%;	
}
.rich-panel.ingreso-concepto {
	border: 0;
}

/* Vetnana de Pago */
/* servicios */
.filter {
	background: #dfdcce;
	padding: 10px;
	border-top: solid 1px #67645a
}
table.favoritos {
	background-color: transparent;
}
table.favoritos td {}
table.favorito-item {
	margin-bottom: 0;
	background: #fff;
}
table.tipos-concepto {
	background-color: transparent;
	border: 0;
}
table.tipos-concepto td {
	border: 0;
}
a.tipos-concepto {
	color: #69768A;
	display: block;
	background: #cdd3dc;
	width: 90px;
	padding: 5px;
	text-decoration: none;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;	
}
table.tipos-concepto td:hover a.tipos-concepto,
a.tipos-concepto:hover {
	background: #4f5c71;
	color: #fff;
	text-decoration: none;
	
}
table.datos-concepto {
	background: url(../images/pop-over-bg.png);
	border: 0;
	width: 100px;
}
table.datos-concepto table.rich-table {
	background-color: transparent;
	border: 0;
	margin-bottom: 0;
}
table.datos-concepto .rich-table-cell {
	border: 0;
}
table.datos-concepto .rich-table-cell a,
table.datos-concepto .rich-table-cell a:visited {
	color: #fff;
}
table.datos-concepto td {
	background: 
}
span.ejemplo {
	margin-left: 10px;
	color: #606060;
	font-style: italic;
}
/* Nombre de usuario */
.pago-usuario,
.pago-usuario td {
	background: #e6e9ed url('../images/user-pago-bg.png') no-repeat top right;
	border: 0;
	color: #1066de;
	font-size: 14px;
	font-weight: bold;
}
.pago-usuario tr td:first-child {
	font-weight: normal;
	width: 150px;
}
.pago-usuario td {
	background: transparent;
}

/* boton detalle */
.rich-stglpanel-header {
	background: #1066de;
	float: left;
	color: #fff;
	clear: both;
	border: 0;
	padding: 5px 10px;
	font-size: 12px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
} 
.rich-stglpanel {
	border-width: 0;
	padding: 0px;
	background-position: top right;
	background-repeat: no-repeat;
}
.rich-stglpanel-body {
	background: #1066de;
	clear: both;
	float: left;
	width: 600px;
} /* contenedor detalles */

.rich-stglpanel-body .rich-table.datatable {
	background: #1066de;
	border: 0;
} /* tabla detalles */


/* encabezado de tabla de detalle */
.rich-stglpanel-body .rich-table-subheader {
	background-color: transparent;
}
.rich-stglpanel-body .rich-table-subheadercell {
	border-right: 0;
	border-left: 0;
	padding: 4px 4px 4px 4px;
	text-align: left;
	font-size: 12px;
	color: #fff;
	white-space: nowrap;
}
.rich-stglpanel-body .rich-table.datatable td,
table.detalles2 td.rich-table-cell {
	border: 0;
	color: #fff;
	font-size: 12px;
	border-bottom: solid 1px #639bea;
	padding: 5px 0;
}

.rich-filter-input {
	width: 50%;
}

/* botones de formulario */
.form-buttons {
	background: #cdd3dc;
	border-top: solid 1px #b1b2b3;
	padding: 20px;
}
.confirm-pago {
	background: url('../images/sprite.png') no-repeat 0 -602px;
	width: 272px;
	height: 50px;
	display: block;
	text-indent: -1000px;
	overflow: hidden;
}
.confirm-pago:hover {
	background: url('../images/sprite.png') no-repeat  0 -673px;
}

/* tablas de cuentas */

.rich-extdt-maindiv {
	margin-top: 10px;
}

/* fila hover de tablas */
tr.extdt-firstrow:hover {
	background-color: #edf1f8;
}

/* fila seleccionada de tablas */
.extdt-row-selected {
	background-color: #dae0ea;
}
/* fila seleccionada HOVER de tablas */
.extdt-row-selected.extdt-firstrow:hover {
	background-color: #dae0ea;
}

.extdt-row-selected .extdt-cell {
	/* color: #fff; */
}

/* Ventana pago realizado */

.detalles2 .rich-table,
.detalle .rich-table {
	background-color: transparent;
	border: 0;
}

.detalles2 .rich-table-cell,
.detalle .rich-table-cell {
	color: #fff;
	border-right: 0;
	border-left: 0;
}

table.detalles2,
table.detalles2 td {
	border: 0;
}

.vertical-separator {
	border-left: solid 1px gray; 
	padding-left: 10px;
}

/** Clearfix */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix{
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

/* Richfaces Override */

.rich-table-thead {}
.rich-table-subheader {}
.rich-table-subheadercell {}
.rich-table {}
.rich-table-cell {}
.rich-table-footer {}
.rich-table-footercell {}

/* footer */
.login .footer-inner,
.registro .footer-inner {
	padding-top: 17px;
	border-top: 0;
}
.footer-inner {
	padding-top: 17px;
	border-top: #fff solid 1px;
}
.footer-inner p {
color: #a5a9ae
}

/* logo removido temporalmente */
/*
.footer-logo,
.registro-logo {
	background: url('../images/sprite.png') no-repeat 0 -1029px;
	width: 91px;
	height: 26px;
	text-indent: -10000px;
	overflow: hidden;
}
*/

/* overrides */
table.rich-calendar-exterior {width: auto;}
table.rich-calendar-exterior table {margin-bottom: 0}
table.rich-calendar-exterior th, 
table.rich-calendar-exterior td {padding: 0}

/* calendar fix */
.login-form .ui-messages-info, 
.login-form .ui-messages-warn, 
.login-form .ui-messages-error, 
.login-form .ui-messages-fatal {
	margin: 0 0 10px 0
}

/* modal panel */
body div.rich-modalpanel {z-index: 1000000}
.rich-modalpanel .buttonControl {margin-bottom: 0;} /* quita margin bottom de botones en modal panel */
.rich-mp-content-table {background: #fff; position: relative}
.rich-mpnl-shadow {background: transparent;} /* elimina sombra */
.rich-mpnl-content {border: 0; background: transparent;} /* eliminar border y fondo blanco innecesario */
.rich-mpnl-body {border-top: 0;}
input.rich-calendar-input {width: 180px; margin-right: 10px;}
.rich-mpnl-body form table td {border-left: 0;} /* elimina lineas verticales */
.rich-mpnl-body form {margin-bottom: 0} /* elimina margin botton de form en modal panel */
.rich-modalpanel table.rich-mp-content-table {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 0px 1px 2px rgba(000, 000, 000, 1); -moz-box-shadow: 1px 0px 2px rgba(000, 000, 000, 1); box-shadow: 0px 2px 6px rgba(000, 000, 000, 0.5);} /* sombra primera tabla */
td.rich-mpnl-body h2 {margin-bottom: 10px; font-size: 17px;} /* titulo del modal panel */
/* modal panel header */
.rich-mpnl-header {width: 100%; height: 25px; position: absolute; left: 0; top: 0;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 8px 8px 0px 0px;
border-radius: 8px 8px 0px 0px;
 padding-right: 3px; padding: 0; border: 0;} /* header */
.modalPanel-cerrar {position: absolute; top: 2px; right: 2px;} /* boton cerrar modalpanel */

/* roles */
.rich-mpnl-body .ui-tabs {margin-bottom: 10px}
.rich-mpnl-body .ui-tabs .ui-tabs-panel {padding: 0} 
.rich-mpnl-body .ui-widget-header {border: 0; background: none; background-image: none; color: black; font-weight: bold; border-bottom: solid 3px #2647a0; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;} /* quita fondo del header de tabs */
.rich-mpnl-body .ui-state-active, .rich-mpnl-body .ui-widget-content .ui-state-active, .rich-mpnl-body .ui-widget-header .ui-state-active {border: 0;} /* quita borde de tabs activos */
#rol-nombre {padding: 10px}
#rol-nombre input {margin-left: 20px;}
.rich-mpnl-body div.ui-widget-content {border: 0}
.ui-widget-content table {margin-bottom: 0}

/* remover bug de firefox de border collapse  */
.ui-widget-content .rich-table td {text-align: center}
.ui-widget-content .rich-table tr td:first-child,
.ui-widget-content tr.rich-table-subheader th.rich-table-subheadercell:first-child {text-align: left;} 

/* remover margen bottom de form despues del contenido */
form#j_id239 {margin-bottom: 0;}

/* Carrusel */
.carousel-noti {
	height: 230px;
	font-size: 12px;
	width: 270px;
}
.notifications .ui-widget-content {
	border: 0;
	background: none;
}
.notifications .ui-carousel-nav ul {
	float: left !important;
	display: block;
}
.notifications .ui-carousel-vertical span.ui-carousel-first-button {
	background-position: -80px -192px;
}
.notifications .ui-carousel-vertical span.ui-carousel-next-button {
	background-position: -48px -192px;
}
.notifications .ui-carousel-element li {
	text-align: left;
}
.notifications span.title,
.notifications span.content {
	margin: 5px;
}
.notifications span.title {
	font-size: 13px;
	font-weight: bold;
	clear: both;
	display: block;
}
.notifications span.content {
	display: block;
	font-size: 11px;
	line-height: 1.2em;
}
.notifications img.noti-image {
	width: 269px;
	height: 100px;
}
.notifications span.content a {
	clear: both;
	color: #1b67b3;
	display: block;
	margin: 5px 0;
	font-weight: bold;
}